.App {
  text-align: center;
  background-color: black;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.hero1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.hero1 img {
  flex-basis: 60%;
  max-width: 60%;
  order: 1; /* move the image to the left */
}

.hero1 .Create-np {
  flex-basis: 40%;
  max-width: 40%;
  order: 2; /* move the section to the right */
  text-align: left;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.address {
  text-align: right;
  margin-right: 5%;
}
.card-container .card {
  flex: 1;
  min-width: 200px !important;
  max-width: 300px !important;
  background-color: black;
  outline-color: white;
  border-color: white;
  border-radius: 1rem;
  box-shadow: 0 3px 6px rgba(255, 255, 255, 0.4);
  padding: 1rem;
  margin: 1%;
  transition: background-color 0.3s ease;
}
.card-container .card:hover {
  background-color: rgb(20, 20, 20);
}
.card h2 {
  margin-top: 0;
}

.card p {
  margin-bottom: 0.5rem;
}
.Create-np .words {
  margin: 3% 6%;
}
.Create-np h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: left;
}
.Create-np input[type="text"],
.Create-np input[type="number"],
.Create-np button {
  display: block;
  width: 100%;
  padding: 0.5rem;
  max-width: 400px !important;
  margin: 0.5rem 0;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: .5rem;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.hero0 {
  width: 100%;
}
.Create-np input[type="text"]:focus,
.Create-np input[type="number"]:focus {
  outline: none;
  border-color: #0077ff;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 0 2px rgba(0, 119, 255, 0.3);
}

button {
  color: #fff;
  background-color: maroon;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: magenta;
}

.Create-np .subtext {
  font-size: 0.8rem;
  margin-top: 1rem;
  color: #666;
}

.Create-np .subtext code {
  font-family: monospace;
  font-size: 0.9rem;
}

.aution-data h3{
  font-size: 1.5rem;
}

.aution-data button {
  display: block;
  width: 20%;
  align-self: left;
  padding: 0.5rem;
  max-width: 400px !important;
  margin: 0.5rem 40%;
  font-size: 1rem;
  border-radius: .5rem;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.hero2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.hero2 img {
  flex-basis: 60%;
  max-width: 60%;
  order: 2; /* move the image to the left */
}

.hero2 .buy-aution-NP {
  flex-basis: 35%;
  max-width: 35%;
  order: 1; /* move the section to the right */
  text-align: left;
  
}
.buy-aution-NP h3 {
  margin: 0.5rem 20%;
}
.buy-aution-NP p {
  margin: 1rem 20%;
}
.buy-aution-NP input[type="text"],
.buy-aution-NP input[type="number"],
.buy-aution-NP button {
  display: block;
  width: 100%;
  padding: 0.5rem;
  max-width: 400px !important;
  margin: 0.5rem 20%;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: .5rem;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.endAuction input[type="text"],
.setDestination input[type="text"],
.setDestination input[type="number"],
.setDestination button,
.endAuction h3,
.setDestination h3,
.endAuction button {
  display: block;
  width: 70%;
  padding: 0.5rem;
  max-width: 400px !important;
  margin: 0 20%;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: .5rem;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}



.check  input[type="text"],
.check button{
  display: block;
  width: 30%;
  padding: 0.5rem;
  max-width: 400px !important;
  margin: 0 35%;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: .5rem;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}


.hero5 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.hero4 {
  flex-basis: 30%;
  max-width: 30%;
  order: 1;
}

.hero5 .hero6 {
  flex-basis: 70%;
  max-width: 70%;
  order: 2; 
}
